.newsletter {
    background-color: var(--yellow);
    padding: 1.5rem;
}
.newsletter__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.newsletter__container h3{
    font-size: 0.9rem;
}
.newsletter__container input {
    height: 2rem;
    width: 17rem;
    border: none;
}
.newsletter__container button {
    height: 2rem;
    width: 6rem;
    border: none;
    background-color: var(--black);
    color: var(--white);
    font-size: 0.8rem;
}

@media only screen and (max-width: 1000px) {
    .newsletter__container {
        flex-direction: column;
        gap: 1rem;
    }
}