body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
* {
  margin : 0px;
  padding: 0px;
  box-sizing: border-box;
}
li {
  list-style: none;
}

:root {
  --yellow : #F0B300;
  --white : #fff;
  --black : #000;
  --grey : #b6b6b6;
  
  --max-width : 1400px;
  --font-rocksalt: 'Rock Salt', cursive;
}
